﻿/*
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

input[type=submit] {
    width: auto;
}

input, textarea {
    font-size: 18px;
    width: 200px;
}

label {
    font-size: 16px;
}

#theForm {
    background-color: #d0d0d0;
}

    #theForm input[type=submit] {
        background-color: green;
        color: white;
    }


ul.product-props {
    font-size: small;
}

    ul.product-props li {
        list-style-type: none;
    }

.product-info {
    background-color: lightgray;
    border: 1px solid grey;
    border-radius: 5px;
    display: inline-block;
    margin: 2px;
    padding: 8px 2px;
    width: 450px;
}

    .product-info img {
        border: 1px solid black;
        float: left;
        margin: 3px;
        max-width: 150px;
    }


#loginToggle {
    cursor: pointer;
}

.popup-form {
    border: 2px greenyellow inset;
    display: inline-block;
    padding: 5px;
}

    .popup-form input {
        width: 200px;
    }

    .popup-form label {
        display: inline-block;
        width: 150px;
    }

    .popup-form input[type=checkbox], .popup-form input[type=submit] {
        width: auto;
    }

menu li {
    display: inline;
}

    menu li::after {
        content: ' |';
    }

    menu li:last-of-type::after {
        content: '';
    }

*/
