﻿@model IEnumerable<Product>
@section Scripts {
    <script src="~/client-app/dist/inline.bundle.js"></script>
    <script src="~/client-app/dist/polyfills.bundle.js"></script>
    <script src="~/client-app/dist/styles.bundle.js"></script>
    <script src="~/client-app/dist/vendor.bundle.js"></script>
    <script src="~/client-app/dist/main.bundle.js"></script>
}
<h1>Shop</h1>
<the-shop></the-shop>